<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    openStableLogo: "<%= image_path("logo.png") %>"
  }

  window.US_STATES = <%= raw Restaurant::US_STATES %>
</script>

<div id="root"></div>
