// main colors
$red: #da3743;
$red-hover: #bb232e;
$navy: #237B98;
$navy-hover: #3798bc;
$gold: #feab6c;

// black and white
$white: #fff;
$light-grey: #f7f7f7;
$grey: #ececec;
$mid-grey: #d4d4d4;
$dark-grey: #bbb;
$darker-grey: #666;
$black: #333;
$black-hover: #000;

// notices and errors
$error: #D30303;
