// main colors
$red: #da3743;
$red-hover: #bb232e;
$navy: #237B98;
$navy-hover: #3798bc;

// black and white
$white: #fff;
$light-grey: #f7f7f7;
$grey: #ececec;
$dark-grey: #bbb;
$black: #333;
$black-hover: #000;

// notices and errors
$error: #D30303;
