$break-point: 600px;
$break-point-two: 1000px;
$break-point-city-select: 700px;
$break-point-mobile: 400px;


body {
  background: $light-grey;
}

$new-york: url("https://s3.amazonaws.com/openstable-pro/seed/new-york.jpg");
$san-francisco: url("https://s3.amazonaws.com/openstable-pro/seed/san-francisco.jpg");
$seattle: url("https://s3.amazonaws.com/openstable-pro/seed/seattle.jpg");
$las-vegas: url("https://s3.amazonaws.com/openstable-pro/seed/las-vegas.jpg");
$philadelphia: url("https://s3.amazonaws.com/openstable-pro/seed/philadelphia.jpg");
$orlando: url("https://s3.amazonaws.com/openstable-pro/seed/orlando.jpg");
