.form-container {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.form-header {
  font-size: 24px;
  padding: 5px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    color: $dark-grey;
    padding: 10px;
    transition: color 0.5s;

    &:hover {
      color: $black;
      cursor: pointer;
    }
  }
}

.nav-link {
  padding: 5px 0;

  button {
    color: $navy;
    border-bottom: 1px solid transparent;
    transition: color 0.5s, border-bottom 0.5s;

    &:hover {
      color: $navy-hover;
      border-bottom: 1px solid $navy-hover;
    }
  }
}

.session-form {
  max-width: 450px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid $grey;

  input, button, select, textarea, option, label.img-upload {
    font-size: 14px;
    width: 100%;
    padding: 0 15px;
    height: 50px;
    border: 1px solid $grey;
    border-radius: 5px;
    margin: 5px 0;
    box-sizing: border-box;

    &:focus {
      outline: 2px solid $navy;
    }

    &.input-error {
      border: 1px solid $error;

      &::-webkit-input-placeholder {
        color: $error;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $error;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
        color: $error;
      }
      &:-ms-input-placeholder {
        color: $error;
      }
    }

    img.form-img {
      height: 140px;
      width: 140px;
    }
  }
  select.input-error {
    color: $error;
  }

  input[type="submit"], button, label.img-upload {
    background: $red;
    text-align: center;
    color: $white;
    font-size: 16px;
    transition: background 0.5s;

    // &:last-child {
    //   margin-bottom: 15px;
    // }

    &:hover {
      background: $red-hover;
    }

    &:focus {
      outline: none;
    }
  }

  label.img-upload {
    line-height: 50px;
  }

  input::-webkit-input-placeholder {
    color: $dark-grey;
  }
  textarea::-webkit-input-placeholder {
    color: $dark-grey;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $dark-grey;
  }
  textarea:-moz-placeholder { /* Firefox 18- */
    color: $dark-grey;
  }
  input::-moz-placeholder {  /* Firefox 19+ */
    color: $dark-grey;
  }
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: $dark-grey;
  }
  input:-ms-input-placeholder {
    color: $dark-grey;
  }
  textarea:-ms-input-placeholder {
    color: $dark-grey;
  }
}

.guest-button {
  background: $navy;

  &:hover {
    background: $navy-hover;
  }
}

.form-text {
  height: 150px;
  padding-top: 10px;
}

.hidden {
  display: none;
}
