.modal-background {
  background: rgba(0,0,0,.4);
  z-index: 3;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.modal-center-signup, .modal-center-login {
  background: $white;
  max-width: 450px;
  margin: 20px auto;
}

.modal-center-map {
  max-width: 900px;
  margin: 20px auto;
  width: 90%;
  height: 75%;
}

.modal-center-photo {
  max-width: 600px;
  margin: 20px auto;
  width: 90%;
}

.modal-center-photo-container {
  button {
    i {
      color: $white;
      font-size: 36px;
      padding: 5px;
      transition: color 0.5s;

      &:hover {
        color: $red;
      }
    }
  }
}

.modal-center-photo-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  width: 30%;
}

.modal-center-newReview, .modal-center-editReview {
  background: $white;
  margin: 20px auto;
  max-width: 600px;
}

@media screen and (max-width: $break-point) {
  .modal-center-signup, .modal-center-login,
  .modal-center-newReview, .modal-center-editReview {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0 auto;
  }

  .modal-center-photo-buttons {
    width: 100%;
  }
}
