.modal-background {
  background: rgba(0,0,0,.4);
  z-index: 1;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.modal-center-signup, .modal-center-login {
  background: $white;
  max-width: 450px;
  margin: 20px auto;
}

.modal-center-map {
  max-width: 700px;
  margin: 20px auto;
  width: 90%;
  height: 60%;
}

@media screen and (max-width: $break-point) {
  .modal-center {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0 auto;
  }
}
