.user-nav {
  padding-left: 10%;
  border-bottom: 1px solid $grey;
  background: $white;

  ul {
    display: flex;
  }

  li {
    padding: 15px 15px 15px 0;

    a {
      height: 100%;
      padding: 15px 0;
      text-transform: uppercase;
      color: $navy;
      border-bottom: 1px solid transparent;
      transition: color 0.5s, border-bottom 0.5s;

      &:hover {
        color: $navy-hover;
        border-bottom: 1px solid $navy-hover;
      }
    }
  }
}

.user-profile-item-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;

  .create-link {
    padding: 15px 0;

    a {
      color: $navy;
      transition: color 0.5s;
      padding: 15px 0;

      &:hover {
        color: $navy-hover;
      }
    }
  }
}

@media screen and (max-width: $break-point) {
  .user-profile-item-container {
    width: 90%;
  }

  .user-nav {
    padding-left: 5%;
    font-size: 12px;
  }
}

.reviews-links {
  color: $navy;
  padding-left: 5px;
  transition: color 0.5s;

  &:hover {
    color: $navy-hover;
  }
}
