.restaurant-photos-container {
  form {
    border: none;

    label.img-upload {
      width: 100%;
    }
  }
}


.restaurant-photos {
  display: flex;
  flex-wrap: wrap;
}

img.restaurant-detail-photo {
  width: calc(20% - 10px);
  height: calc(20% - 10px);
  margin: 5px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: $break-point) {
  img.restaurant-detail-photo {
    width: calc(50% - 4px);
    margin: 2px;
  }
}
