.review-form-select {
  width: 100%;
  display: flex;
  align-items: center;

  p {
    width: 140px;
  }
}

.review-form {
  textarea.review-text {
    padding-top: 5px;
    height: 100px;
  }
}


.review-stars-input, .review-noise-input {
  display: flex;
  margin: 2px 0;

  label {
    &:hover {
      cursor: pointer;
    }
  }
}

.review-noise-input {
  label {
    margin: 0 5px;
    color: $mid-grey;
  }

  .noise-selected {
    color: $black;
  }
}

.review-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2px 0;

  label {
    width: 95%;
  }

  input {
    width: 5%;
    height: 30px;
    padding: 0;
    margin: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
