.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: none;

  .query-container, input, select, a {
    height: 50px;
    width: 25%;
    margin: 0%;
    border-radius: 0;
    -webkit-appearance: none;
    border-right: none;
  }

  .query-container {
    background: pink;

    input {
      width: 100%;
    }
  }

  input {
    font-size: 15px;
  }

  a {
    background: $red;
    color: $white;
    line-height: 50px;
    text-align: center;
    transition: background 0.5s;

    &:hover {
      background: $red-hover;
    }
  }
}

.search-form-splash {
  background: $white;
  border-radius: 10px;
  position: absolute;
  width: 90%;
  left: calc(5% - 20px);
  top: 60%;
  z-index: 1;
  padding: 20px;

  h2 {
    font-size: 24px;
  }
}

.search-index-results {
  border: 1px solid $grey;
  background: $white;
  height: 200px;
}

@media screen and (max-width: $break-point) {
  .search-form {
    flex-wrap: wrap;
    input, select {
      width: 33.333%;
      border: 1px solid $grey;
      border-bottom: none;
    }

    a, .query-container {
      width: 100%;
    }
  }

  .search-form-splash {
    position: relative;
    margin: 0 auto;
    left: 0;
  }
}
